absl-py
affine
astunparse
attrs
Cartopy
certifi
charset-normalizer
click
click-plugins
cligj
colorama
contourpy
cycler
et-xmlfile
flatbuffers
fonttools
gast
geopandas
google-pasta
grpcio
h5py
idna
joblib
keras
kiwisolver
libclang
lightgbm
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
namex
numpy
openpyxl
opt-einsum
optree
packaging
pandas
pillow
protobuf
Pygments
pyogrio
pyparsing
pyproj
pyshp
python-dateutil
pytz
rasterio
requests
rich
scikit-learn
scipy
seaborn
setuptools
shapely
six
snuggs
squarify
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt
xgboost
