certifi
contourpy
cycler
et-xmlfile
fonttools
geopandas
joblib
kiwisolver
matplotlib
numpy
openpyxl
packaging
pandas
pillow
pyogrio
pyparsing
pyproj
python-dateutil
pytz
scikit-learn
scipy
shapely
six
squarify
threadpoolctl
tzdata

